/ChessProblem/bin
/ChessProblem/obj
/ChessProblemTests/bin
/ChessProblemTests/obj
/Classes/bin
/Classes/obj
/ClassLibrary/bin
/ClassLibrary/obj
/TheShop/TheShop/.vs
/TheShop/TheShop/TheShop/obj
/TheShop/TheShop/TheShop/bin
/TheShop/obj
/TheShop/TheShop/TheShopGui/bin/Debug/net5.0-windows
/TheShop/TheShop/TheShopGui/obj
/TheShopWebServer/bin/Debug/net5.0
/TheShopWebServer/obj/Debug/net5.0
/TheShopWebServer/obj
