/ChessProblem/bin
/ChessProblem/obj
/ChessProblemTests/bin
/ChessProblemTests/obj
/Classes/bin
/Classes/obj
/ClassLibrary/bin
/ClassLibrary/obj
/TheShop/TheShop/.vs
/TheShop/TheShop/TheShop/obj
/TheShop/TheShop/TheShop/bin
/TheShop/obj
